{% load i18n %}
{% load accounts_tags %}

{% if user.is_authenticated %}

	<form action="{% url 'accounts logout' %}" method="POST">
		<fieldset>
			{% csrf_token %}
			<h4 class="subtitle is-4">{% trans 'You seem like' %} {{ user.get_full_name|default:user.username }}</h4>
				<div class="field">
					<div class="control">
						<input class="button" type="submit" value="{% trans 'Log out' %}">
					</div>
				</div>
		</fieldset>
	</form>

{% else %}

	<form class="pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1 pure-form pure-form-stacked" method="POST" action="{% url 'accounts login' %}">
		<fieldset>
			{% csrf_token %}

			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label" for="id_username_top">{% trans 'username' %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" id="id_username_top" name="username" type="text" required>
						</div>
						{% for error in form_errors.login.username %}<p class="help is-danger">{{ error }}</p>{% endfor %}
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label" for="id_password_top">{% trans 'password' %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" id="id_password_top" name="password" type="password" required>
						</div>
						{% for error in form_errors.login.password %}<p class="help is-danger">{{ error }}</p>{% endfor %}
					</div>
				</div>
			</div>

			{% if form_errors.auth %}<div class="notification is-warning">{{ form_errors.auth }}</div>{% endif %}
		</fieldset>

		<input type="hidden" name="redirect" value="{{ redirect }}">

		<hr>
		<div class="buttons is-right">
			<input class="button is-primary" type="submit" value="{% trans 'Log in' %}">
			<a class="button is-secondary" href="{% url 'accounts index' %}?register=1">{% trans 'Register' %}</a>
			<a class="button is-secondary" href="{% url 'accounts restore' %}">{% trans 'Restore' %}</a>
			<a class="button is-secondary" href="{% url 'accounts index' %}?key_auth=1">
				<img title="{% trans 'Key authentication' %}" src="/static/img/accounts/key_auth.png">
			</a>
		</div>
	</form>

{% endif %}
