{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Account control panel' %}
	|
{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/accounts.css">
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='accounts' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

	{% if not user.is_authenticated and key_auth %}
		<h1 class="title is-1">{% trans 'Key authentication' %}</h1>
		{% include "accounts/key_auth_form.html" %}
	{% elif not user.is_authenticated and register %}
		<h1 class="title is-1">{% trans 'New account registration' %}</h1>
		{% include "accounts/registration_form.html" %}
	{% elif not user.is_authenticated %}
		<h1 class="title is-1">{% trans 'Authentication' %}</h1>
		{% include "accounts/form.html" %}
	{% else %}
		<h1 class="title is-1">{% trans 'Members area' %}</h1>
		{% include "accounts/manage_account_email.html" %}
		{% if perms.accounts.access_accounts_management %}
			{% include "accounts/manage_account_data.html" %}
		{% endif %}
		{% include "accounts/form.html" %}
	{% endif %}
	<hr />

{% endblock %}
{% block scripts %}
	<script type="application/javascript" src="/static/js/accounts.js" async="async" defer="defer"></script>
{% endblock %}
