{% load i18n %}
{% if message %}<div class="notification is-warning">{{ message }}</div>{% endif %}
<form action="{% url 'accounts key_authenticate' %}" method="POST">
	<fieldset>
		{% csrf_token %}

		<div class="field">
			<div class="control">
				<input class="input" type="password" name="key" placeholder="{% trans 'Key' %}" autofocus>
			</div>
		</div>

		<div class="field is-pulled-right">
			<div class="control">
				<input class="button is-primary" type="submit" value="{% trans 'Authenticate' %}">
			</div>
		</div>

		<input type="hidden" name="redirect" value="{{ redirect }}">
	</fieldset>
</form>
