{% load i18n %}
<!-- TODO apply errorlist classes -->
<form method="POST" action="{% url 'accounts manage' %}">
	<fieldset>

		{% csrf_token %}
		<h4 class="subtitle is-4">{% trans 'Personal data' %}</h4>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_first_name">{% trans 'First name' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ manage_form.first_name }}
					</div>
					{% for error in form_errors.manage.first_name %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_last_name">{% trans 'Last name' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ manage_form.last_name }}
					</div>
					{% for error in form_errors.manage.last_name %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<h4 class="subtitle is-4">{% trans 'Password change' %}</h4>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_password">{% trans 'current password' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ manage_form.password }}
					</div>
					{% for error in form_errors.manage.password %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_new_password">{% trans 'new password' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ manage_form.new_password }}
					</div>
					{% for error in form_errors.manage.new_password %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_new_password_confirm">{% trans 'new password again' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ manage_form.new_password_confirm }}
					</div>
					{% for error in form_errors.manage.new_password_confirm %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<input class="button is-primary" type="submit" value="{% trans 'Manage' %}">
			</div>
		</div>

	</fieldset>
</form>

<hr>
