{% load i18n %}
{% if message %}<div class="notification is-warning">{{ message }}</div>{% endif %}

{% if form_errors.manage.updated %}
	<div class="notification is-info" id="updated_successfully_notification">{% trans 'Updated successfully' %}</div>
	<script>
		setTimeout('document.getElementById("updated_successfully_notification").remove()', 3000);
	</script>
{% endif %}

{% if user.userprofile.confirmation_email_valid %}
	<div class="notification is-success">{% trans 'Email address confirmed' %}</div>

	{% if perms.accounts.manage_authorization_key %}
		{% if not user.userprofile.authorization_key %}
			<div class="notification is-info">{% trans 'Authorization key is not set' %}
				{% if new_key_available %}
					<form class="is-pulled-right" action="{% url 'accounts make_authorization_key' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="make_key" value="please">
						<input class="button is-small is-info is-inverted is-outlined is-rounded" type="submit" title="{% trans 'Your key will be sent to you by email.' %}" value="{% trans 'Please make and send me a key' %}">
					</form>
				{% endif %}
			</div>
			{% if not new_key_available %}
				<div class="notification is-warning">{% trans 'New authorizarion key is not available yet' %}</div>
			{% endif %}
		{% else %}
			<div class="notification is-info">{% trans 'Authorization key is set' %}
				<a href="{% url 'accounts remove_authorization_key' %}" class="button is-small is-info is-inverted is-outlined is-rounded is-pulled-right">{% trans 'Please remove my key' %}</a>
			</div>
		{% endif %}
	{% endif %}

{% else %}
	<div class="notification is-warning">{% trans 'Email address is not confirmed yet' %}
		{% if user.userprofile.confirmation_code_ready %}
			<form class="is-pulled-right" action="{% url 'accounts confirm_email' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="send_another_code" value="please">
				<input class="button is-small is-info is-inverted is-outlined is-rounded" type="submit" value="{% trans 'Please send me another code' %}">
			</form>
		{% else%}
			<input class="button is-small is-info is-inverted is-outlined is-rounded" disabled="" type="submit" value="{% blocktrans with time=user.userprofile.confirmation_email_sent %}Code was sent on {{time}}{%endblocktrans%}">
		{% endif %}
	</div>
	{% if form_errors.confirmation_code %}
		<div class="notification is-danger">{{ form_errors.confirmation_code }}</div>
	{% endif %}
{% endif %}
