{% load i18n %}
{% if message %}<div class="notification is-warning">{{ message }}</div>{% endif %}
{% url 'accounts index' as accounts_index %}
<h4 class="subtitle is-4">{% blocktrans %}Have an account? You should just <a href="{{ accounts_index }}">log in</a> instead{% endblocktrans %}</h4>

<form class="register_form" method="POST" action="{% url 'accounts register' %}">
	<fieldset>
		{% csrf_token %}

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_username">{% trans 'Username' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ registration_form.username }}
						<img class="is-pulled-right" src="/static/img/accounts/check_username.png" style="cursor:pointer" title="{% trans 'check username availability' %}" id="id_username_checker" onclick="username_checker();">
					</div>
					{% for error in form_errors.register.username %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_password">{% trans 'Password' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ registration_form.password }}
					</div>
					{% for error in form_errors.register.password %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_password_confirm">{% trans 'Password again' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ registration_form.password_confirm }}
					</div>
					{% for error in form_errors.register.password_confirm %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_email">{% trans 'Email' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ registration_form.email }}
					</div>
					{% for error in form_errors.register.email %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<input class="button is-primary" type="submit" value="{% trans 'Register' %}">
			</div>
		</div>

	</fieldset>
</form>
