{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Account control panel' %}
	|
	{% trans 'Restoration' %}
	|
{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/accounts.css">
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='accounts' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}

	{% if message %}<div class="notification is-warning">{{ message }}</div>{% endif %}
	<h1 class="title is-1">{% trans 'Lost account restoration' %}</h1>
	{% if step == 1 %}
		{% include "accounts/restore/step1.html" %}
	{% elif step == 2 %}
		{% include "accounts/restore/step2.html" %}
	{% elif step == 3 %}
		{% include "accounts/restore/step3.html" %}
	{% endif %}
	<hr />

{% endblock %}
