{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Inner sanctum' %}
	|
{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='admin' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<h1 class="title is-1">{% trans 'Administrative dashboard' %}</h1>
	<div class="column is-half user-list">
		{% if perms.auth.list_users %}
			<h4 class="subtitle is-4">{% trans 'Recent users' %}</h4>
			{% include "admin/users_list.html" %}
		{% endif %}
	</div>
	<hr>
{% endblock %}
{% block scripts %}
	<script type="application/javascript" src="/static/js/admin.js" async="async" defer="defer"></script>
{% endblock %}
