{% load i18n %}
{% load accounts_tags %}

<form class="pure-form pure-form-aligned" action="{% url 'admin edit_user' user_id=managed_user.id %}" method="POST">
	<fieldset>
		{% csrf_token %}
		<div class="pure-controls">
			<img src="{% get_avatar managed_user.email 80 %}">
		</div>

		<div class="pure-control-group">
			<label for="id_username">{% trans 'Username' %}</label>
			{{ form.username }}
			{% for error in form.errors.username %}<div class="pure-label label-red">{{ error }}</div>{% endfor %}
		</div>
		<div class="pure-control-group">
			<label for="id_email">{% trans 'Email address' %}</label>
			{{ form.email }}
			{% for error in form.errors.email %}<div class="pure-label label-red">{{ error }}</div>{% endfor %}
		</div>
		<div class="pure-control-group">
			<label for="id_first_name">{% trans 'First name' %}</label>
			{{ form.first_name }}
			{% for error in form.errors.first_name %}<div class="pure-label label-red">{{ error }}</div>{% endfor %}
		</div>
		<div class="pure-control-group">
			<label for="id_last_name">{% trans 'Last name' %}</label>
			{{ form.last_name }}
			{% for error in form.errors.last_name %}<div class="pure-label label-red">{{ error }}</div>{% endfor %}
		</div>
		<div class="pure-control-group">
			<label for="id_active">{% trans 'Is active' %}</label>
			{{ form.active }}
			{% for error in form.errors.active %}<div class="pure-label label-red">{{ error }}</div>{% endfor %}
		</div>
		<div class="pure-control-group">
			<label for="id_staff">{% trans 'Is staff' %}</label>
			{{ form.staff }}
			{% for error in form.errors.staff %}<div class="pure-label label-red">{{ error }}</div>{% endfor %}
		</div>
		<div class="pure-controls">
			<input class="pure-button button-secondary" type="submit" value="{% trans 'Edit' %}">&nbsp;
		</div>
	</fieldset>
</form>
