{% load i18n %}
{% load accounts_tags %}
{% load admin_tags %}
{% with "&active="|add:active|add:"&staff="|add:staff|add:"&email_confirmed="|add:email_confirmed as tail %}
<table class="table is-striped is-fullwidth">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>
				{% if sortable %}
					<a class="sorter {% if order_by == 'username' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=username{{ tail }}">▼</a>
					<a class="sorter {% if order_by == '-username' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=-username{{ tail }}">▲</a>
					&nbsp;
				{% endif %}
				{% trans 'Username' %}
			</th>
			<th>
				{% if sortable %}
					<a class="sorter {% if order_by == 'email' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=email{{ tail }}">▼</a>
					<a class="sorter {% if order_by == '-email' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=-email{{ tail }}">▲</a>
					&nbsp;
				{% endif %}
				{% trans 'Email' %}
			</th>
			<th>
				{% if sortable %}
					<a class="sorter {% if order_by == 'first_name' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=first_name{{ tail }}">▼</a>
					<a class="sorter {% if order_by == '-first_name' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=-first_name{{ tail }}">▲</a>
					&nbsp;
				{% endif %}
				{% trans 'First name' %}
			</th>
			<th>
				{% if sortable %}
					<a class="sorter {% if order_by == 'last_name' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=last_name{{ tail }}">▼</a>
					<a class="sorter {% if order_by == '-last_name' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=-last_name{{ tail }}">▲</a>
					&nbsp;
				{% endif %}
				{% trans 'Last name' %}
			</th>
			<th>{% trans 'Confirmed' %}</th>
			<th>
				{% if sortable %}
					<a class="sorter {% if order_by == 'date_joined' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=date_joined{{ tail }}">▼</a>
					<a class="sorter {% if order_by == '-date_joined' %}active{% endif %}" href="{% url 'admin user_list' %}?order_by=-date_joined{{ tail }}">▲</a>
					&nbsp;
				{% endif %}
				{% trans 'Joined' %}
			</th>
		</tr>
	</thead>
	<tbody>
		{% for entry in user_list %}
			{% can_a_edit_b user entry as editable %}
			<tr {% if editable %}class="editable" onclick="window.location = '{% url 'admin edit_user' user_id=entry.id %}'"{% endif %}>
				<td>
					{% if entry.userprofile.confirmation_email_valid %}
						<img class="gravatar" src="{% get_avatar entry.email 40 %}">
					{% endif %}
				</td>
				<td>{{ entry.username }}</td>
				<td>{{ entry.email }}</td>
				<td>{{ entry.first_name }}</td>
				<td>{{ entry.last_name }}</td>
				<td><input type="checkbox" {% if entry.userprofile.confirmation_email_valid%}checked=1{% endif %} disabled=1></td>
				<td>{{ entry.date_joined }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endwith %}
