{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Inner sanctum' %}
	|
	{% trans 'Userlist' %}
	|
{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='admin' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<h1 class="title is-1">{% trans 'User list' %}</h1>
	<div class="pure-u-1-1 user-list">
		<div class="columns">

			<div class="column is-third buttons">
				<h4 class="subtitle is-4">Is active</h4>
				<a class="button is-small is-secondary {% if active == 'yes' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active=yes&staff={{ staff }}&email_confirmed={{ email_confirmed }}">{% trans 'Yes' %}</a>
				<a class="button is-small is-secondary {% if active == 'no' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active=no&staff={{ staff }}&email_confirmed={{ email_confirmed }}">{% trans 'No' %}</a>
				<a class="button is-small is-secondary {% if active == 'void' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active=void&staff={{ staff }}&email_confirmed={{ email_confirmed }}">{% trans 'Don\'t care' %}</a>
			</div>
			<div class="column is-third buttons">
				<h4 class="subtitle is-4">Is staff</h4>
				<a class="button is-small is-secondary {% if staff == 'yes' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active={{ active }}&staff=yes&email_confirmed={{ email_confirmed }}">{% trans 'Yes' %}</a>
				<a class="button is-small is-secondary {% if staff == 'no' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active={{ active }}&staff=no&email_confirmed={{ email_confirmed }}">{% trans 'No' %}</a>
				<a class="button is-small is-secondary {% if staff == 'void' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active={{ active }}&staff=void&email_confirmed={{ email_confirmed }}">{% trans 'Don\'t care' %}</a>
			</div>
			<div class="column is-third buttons">
				<h4 class="subtitle is-4">Email confirmed</h4>
				<a class="button is-small is-secondary {% if email_confirmed == 'yes' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active={{ active }}&staff={{ staff }}&email_confirmed=yes">{% trans 'Yes' %}</a>
				<a class="button is-small is-secondary {% if email_confirmed == 'no' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active={{ active }}&staff={{ staff }}&email_confirmed=no">{% trans 'No' %}</a>
				<a class="button is-small is-secondary {% if email_confirmed == 'void' %}is-link is-disabled{% endif %}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&active={{ active }}&staff={{ staff }}&email_confirmed=void">{% trans 'Don\'t care' %}</a>
			</div>

		</div>
		<hr>
		{% include "admin/users_list.html" with sortable=1 %}
	</div>

	<hr>

	<nav class="pagination" role="navigation" aria-label="pagination">
		<ul class="pagination-list">
			{% for i in pages %}
				<li>
					<a class="pagination-link {% if i == page %}is-current{% endif %}" aria-label="{{ i }}" aria-current="{{ i }}" href="{% url 'admin user_list' %}?order_by={{ order_by }}&page={{ i }}&active={{ active }}&staff={{ staff }}&email_confirmed={{ email_confirmed }}">{{ i }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>

{% endblock %}
{% block scripts %}
	<script type="application/javascript" src="/static/js/admin.js" async="async" defer="defer"></script>
{% endblock %}
