{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Inner sanctum' %}
	|
	{% blocktrans with username=managed_user.username %}Account [{{ username }}]{% endblocktrans %}
	|
{% endblock %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='admin' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<div class="pure-u content-block">
		<h4>{% blocktrans with username=managed_user.username %}Account [{{ username }}]{% endblocktrans %}</h4>
		{% include "admin/user_edit_form.html" %}
		<hr />
	</div>
{% endblock %}
{% block scripts %}
	<script type="application/javascript" src="/static/js/admin.js" async="async" defer="defer"></script>
{% endblock %}
