{% load i18n %}
<form method="POST" action="{% url 'accounts restore' %}?step=2">
	<fieldset>
		{% csrf_token %}
		<p>
{% blocktrans %}Account restoration request accepted.<br />
If given account is found, an email message will be sent with a recovery code.<br />
<big><span class="has-text-danger">Do not leave this page</span></big> until you restore your account.<br />
You will not be able to request another code for some time and the requested one will only work for this session.{% endblocktrans %}
		</p>
		<hr>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_code">{% trans 'Code' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ form.code }}
					</div>
					{% for error in form.errors.code %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-pulled-right">
			<div class="control">
				<input class="button is-primary" type="submit" value="{% trans 'Recover' %}">
			</div>
		</div>

	</fieldset>
</form>
