{% load i18n %}
<form method="POST" action="{% url 'accounts restore' %}?step=3">
	<fieldset>
		{% csrf_token %}
		<h4 class="subtitle is-4">{% trans 'Enter new password for your account' %}</h4>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_password">{% trans 'Password' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ form.password }}
					</div>
					{% for error in form.errors.password %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_password_confirm">{% trans 'Password again' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ form.password_confirm }}
					</div>
					{% for error in form.errors.password_confirm %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>


		<div class="field is-pulled-right">
			<div class="control">
				<input class="button is-primary" type="submit" value="{% trans 'Recover' %}">
			</div>
		</div>

	</fieldset>
</form>
