{% load i18n %}
<form method="POST" action="{% url 'accounts restore' %}?step=1">
	<fieldset>
		{% csrf_token %}

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_username">{% trans 'Username' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ form.username }}
					</div>
					{% for error in form.errors.username %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label" for="id_email">{% trans 'Email' %}</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						{{ form.email }}
					</div>
					{% for error in form.errors.email %}<p class="help is-danger">{{ error }}</p>{% endfor %}
				</div>
			</div>
		</div>

		<div class="field is-pulled-right">
			<div class="control">
				<input class="button is-primary" type="submit" value="{% trans 'Restore' %}">
			</div>
		</div>

	</fieldset>
</form>
