{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans '404 error' %}{% endblock %}
{% block content %}
	<div class="error404">
		<p>
			{% if message %}
				{{ message }}
			{% else %}
				{% trans 'We do not have such thing, sorry' %}
			{% endif %}
		</p>
	</div>
{% endblock %}
