{% load i18n %}
{% load sass_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/static/img/icon.png">
		<link href="{% sass_src 'bulma.sass' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
		<link rel="stylesheet" type="text/css" href="/static/css/ninamori.css">
		<title>{% block title %}{% endblock %}{{ SITE_NAME }}</title>
{% block extrahead %}{% endblock %}
	</head>
	<body>
		<nav class="navbar">
			<div class="navbar-brand">
{% block mainmenu %}{% include "mainmenu.html" %}{% endblock %}
			</div>
		</nav>

		<section class="navbar">
			<div class="container breadcrumbs">
				<ul>
{% block breadcrumbs %}{% endblock %}
				</ul>
			</div>
		</section>

		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<div class="columns is-5-tablet is-4-desktop is-3-widescreen">
						<div class="column">
{% block body %}{% endblock %}
{% block content %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<hr>

		<footer class="footer">
{% include "footer.html" %}
		</footer>
{% block afterbody %}{% endblock %}
	<script type="application/javascript" src="/static/js/functions.js" async="async" defer="defer"></script>
{% block scripts %}{% endblock %}
	</body>
</html>
