{% load i18n %}
{% if user.is_staff %}
	{% url 'admin index' as admin_index %}
	{% url 'admin user_list' as admin_user_list %}
	<nav class="level">
		<div class="level-left">
			<div class="level-item buttons are-small">
				<a class="button is-outlined {% if request.path == admin_index %}is-info is-active{% endif %}"
					{% if request.path != admin_index %}href="{{ admin_index }}"{% endif %}>
					{% trans 'Dashboard' %}</a>
				<a class="button is-outlined {% if request.path == admin_user_list %}is-info is-active{% endif %}"
					{% if request.path != admin_user_list %}href="{{ admin_user_list }}"{% endif %}>
					{% trans 'Users' %}</a>
			</div>
		</div>
	</nav>
{% endif %}
