{% load i18n %}
{% load accounts_tags %}
<div class="navbar-brand mainmenu">
	{% if user.is_authenticated %}<img class="navbar-item gravatar is-paddingless is-marginless" src="{% get_avatar user.email 40 %}">{% endif %}
	<a class="navbar-item {% if request.path == '/' %}is-active{% endif %}" href="{% url 'index' %}">
		{% trans 'Index' %}
	</a>
</div>

<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainmenu">
	<span aria-hidden="true"></span>
	<span aria-hidden="true"></span>
	<span aria-hidden="true"></span>
</a>

<div id="mainmenu" class="navbar-menu">
	<div class="navbar-start">
		<a class="navbar-item {% if current_item == 'accounts' %}is-active{% endif %}"
		{% if current_item != 'accounts' %}href="{% url 'accounts index' %}"{% endif %}
		>{% trans 'Account' %}</a>
	</div>

	<div class="navbar-end"></div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
		if ($navbarBurgers.length > 0) {
			$navbarBurgers.forEach( el => {
				el.addEventListener('click', () => {
					const target = el.dataset.target;
					const $target = document.getElementById(target);
					el.classList.toggle('is-active');
					$target.classList.toggle('is-active');
				});
			});
		}
	});
</script>
